---
import config from "@config/config.json";
import Base from "@layouts/Base.astro";
import Pagination from "@layouts/components/Pagination.astro";
import Posts from "@layouts/Posts.astro";
import { getSinglePage} from "@lib/contentParser.astro";
import { sortByDate } from "@lib/utils/sortFunctions";

import PostsTest from "@layouts/PostsTest.astro";

import {fetchPostsList, PostsList} from '../api/data'

const data = await fetchPostsList("blog.BlogPage", 'description,date_post,feed_image,categories(name),author', '-first_published_at')
if (!data) return Astro.redirect('/404')

const totalPages = Math.ceil(data.meta.total_count / config.settings.pagination);

const currentPosts = data.items.slice(0, config.settings.pagination);

---

<Base>
  <section class="section">
    <div class="container">
      <PostsTest posts={currentPosts} className="mb-16" />
      <!-- <Posts posts={currentPosts} className="mb-16" /> -->
      <Pagination currentPage={1} totalPages={totalPages} />
    </div>
  </section>
</Base>
